<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <DisableAppDomain>true</DisableAppDomain>
  </RunConfiguration>
  <NUnit>
    <Verbosity>5</Verbosity>
    <DumpXmlTestResults>true</DumpXmlTestResults>
    <DumpXmlTestDiscovery>true</DumpXmlTestDiscovery>
    <DiscoveryMethod>Current</DiscoveryMethod>
  </NUnit>
</RunSettings>
