<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="AppVeyor NUnit CI Feed" value="https://ci.appveyor.com/nuget/nunit" />
        <add key="AppVeyor NUnit Engine CI Feed" value="https://ci.appveyor.com/nuget/nunit-console" />
    </packageSources>
</configuration>
