<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Osiris.Extended" ToolsVersion="11.0">
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Include Path="basicdesignguidelinerules.ruleset" Action="Default" />
  <Include Path="extendeddesignguidelinerules.ruleset" Action="Default" />
  <Include Path="globalizationrules.ruleset" Action="Default" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1709" Action="None" />
  </Rules>
</RuleSet>