name: NUnit3TestAdapter.Myget.Publish

on:
  push:
    branches:
      - main
      - release
      - vnext
      - myget
  workflow_dispatch:

defaults:
  run:
    shell: pwsh
jobs:
  build-windows:
    name: Windows Build
    runs-on: windows-latest

    steps:
    - name: ⤵Checkout Source
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: 🛠️ Setup .NET
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5
      with:
        dotnet-version: |
          8.0.x
           
    - name: Build  
      run: .\build.ps1 -t QuickRelease

    - name: 💾 Upload build artifacts
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
      with:
        name: Package
        path: package

    - name: Publish nupkg and snupkg to Myget.org
      run: |
          foreach($file in (Get-ChildItem package -Recurse -Include *.nupkg)) {
              dotnet nuget push $file --api-key "${{ secrets.PUBLISHMYGET }}" --source https://www.myget.org/F/nunit/api/v3/index.json --skip-duplicate
          }

