
name: NUnit3TestAdapter.CI

on: [push, pull_request,workflow_dispatch]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5
      with:
        dotnet-version: |
          8.0.x
    - name: Build with cake
      run: .\build.ps1 -t CI
      shell: pwsh
