
name: NUnit3TestAdapter.CI

on: [push, pull_request,workflow_dispatch]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4.1.6
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          3.1.x
          5.0.x
          6.0.x
          7.0.x
          8.0.x
    - name: Build with cake
      run: .\build.ps1 -t CI
      shell: pwsh
