name: NUnit3TestAdapter.Myget.Publish

on:
  push:
    branches:
      - main
      - release
      - vnext
      - myget
  workflow_dispatch:

defaults:
  run:
    shell: pwsh
jobs:
  build-windows:
    name: Windows Build
    runs-on: windows-latest

    steps:
    - name: ⤵Checkout Source
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: 🛠️ Setup .NET
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5
      with:
        dotnet-version: |
          8.0.x
           
    - name: Build  
      run: .\build.ps1 -t QuickRelease

    - name: 💾 Upload build artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      with:
        name: Package
        path: package

    - name: Publish nupkg and snupkg to Myget.org
      run: |
          foreach($file in (Get-ChildItem package -Recurse -Include *.nupkg)) {
              dotnet nuget push $file --api-key "${{ secrets.PUBLISHMYGET }}" --source https://www.myget.org/F/nunit/api/v3/index.json --skip-duplicate
          }

