name: NUnit3TestAdapter.Cake.CI

on: [push, pull_request]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3.0.0
    - uses: actions/setup-dotnet@v3.0.0
      with:
        dotnet-version: |
          2.1.x
          3.1.x
          5.0.x
    - name: Build with cake
      run: .\build.ps1 -t CI
      shell: pwsh
